<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Actualizar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <img  src="https://i.imgur.com/QNvcov9.png" class="center">
  <div class="padtop">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-text class="ion-text-center" color="dark">
              <h1 class="padbot">Actualizar producto</h1>
            </ion-text>
            <ion-input class="ion-text-center" type="text" [(ngModel)]="producto.titulo" #titulo></ion-input>
            <ion-input class="ion-text-center" type="text" [(ngModel)]="producto.tipo" #tipo></ion-input>
            <ion-input class="ion-text-center" type="text" [(ngModel)]="producto.precio" #precio></ion-input>
            <ion-input class="ion-text-center" type="text" [(ngModel)]="producto.descripcion" #descripcion></ion-input>
            <ion-button class="centrino" (click)="actualizarProducto(tit,tip,imgURL,pre,desc)">ACTUALIZAR</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
  <img  src="https://i.imgur.com/QNvcov9.png" class="center">
</ion-content>
