ion-content.background{
    --background: url(https://i.imgur.com/2WwFCMH.jpeg) 0 0/100% 100% no-repeat;
  }

  .padtop{
    padding-top: 20%;
  }
  
  .center {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .centrado{
    text-align: center;
  }