<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Agregar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <img src="https://i.imgur.com/QNvcov9.png" class="center">
  <div class="padtop">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-text class="ion-text-center" color="dark">
              <h1 class="padbot">Agregar producto</h1>
            </ion-text>
            <ion-item>
              <ion-input class="ion-text-center" type="text" placeholder="Ingrese nombre" #titulo></ion-input>
            </ion-item>
            <ion-item class="centrino">
              <ion-select  placeholder="Seleccione tipo producto" #tipo>
                <ion-select-option *ngFor="let x of lista" [value]="x.descripcion">{{x.descripcion}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-input type="file" accept="image/*" [(ngModel)]="imageFilePath" (change)="img($event)" #url></ion-input>
            </ion-item>
            <ion-item>
              <ion-input class="ion-text-center" type="text" placeholder="Ingrese precio" #precio></ion-input>
            </ion-item>
            <ion-item>
              <ion-input class="ion-text-center" type="text" placeholder="Ingrese descripcion" #descripcion></ion-input>
            </ion-item>
            <ion-item>
              <ion-label class="ion-text-center">Producto Oferta</ion-label>
              <ion-checkbox slot="start" #oferta></ion-checkbox>
            </ion-item>
            <ion-button class="centrino" (click)="agregarProducto(titulo,tipo,precio,descripcion)">AGREGAR
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
  <img src="https://i.imgur.com/QNvcov9.png" class="center">
</ion-content>