<ion-header>
  <ion-toolbar color="dark" >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-input type="text" placeholder="Ingrese titulo" #titulo ></ion-input>
          <ion-input type="text" placeholder="Ingrese URL de imagen" #url ></ion-input>
          <ion-input type="text" placeholder="Ingrese precio" #precio ></ion-input>
          <ion-input type="text" placeholder="Ingrese descripcion" #descripcion ></ion-input>
          <ion-button color="danger" (click)="agregarProducto(titulo,url,precio,descripcion)">AGREGAR</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
