<ion-menu side="start" type="push" menuId="menu1" contentId="principal">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>MENU</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="true">
        <ion-item [routerLink]="['home']" ><ion-icon slot="start" name="home-outline"></ion-icon>HOME</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="true">
        <ion-item [routerLink]="['productos']" ><ion-icon slot="start" name="fast-food-outline"></ion-icon>PRODUCTOS</ion-item>
      </ion-menu-toggle>
      <!-- <ion-menu-toggle auto-hide="true">
        <ion-item [routerLink]="['login']" ><ion-icon slot="start" name="person-outline"></ion-icon> INGRESAR</ion-item>
      </ion-menu-toggle> -->

    </ion-list>
  </ion-content>
</ion-menu>
<h1 slot="end">Bienvenido {{admin}}</h1>