<ion-header>
  <ion-toolbar color="dark">
    <ion-button color="dark" slot="start" (click)="toggleMenu()">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-button>
    <ion-title class="ion-text-center">HOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="padtop">
    <ion-card>
      <ion-text class="ion-text-center" color="dark">
        <h1>OFERTA DEL DIA</h1>
      </ion-text>
      <img src="https://i.imgur.com/h8YIFlI.jpg" class="center">
      <ion-card-header>
        <ion-card-title class="ion-text-center">MARRAQUETA</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h1 class="ion-text-center">Marraqueta gratis 100% real no fake</h1>
          <ion-button class=" center button button-block button-positive" (click)="onClick()" style="width:100px">
            Comprar
          </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>